## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

<hr>

## Common Jupyter operations

Near the top of the Jupyter notebook window, there are a row of menu options (`File`, `Edit`, `View`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 rectanges, clipboard and cell run arrow, interrupt the kernel square, restart the kernel circle arrow, restart the kernel arrows, cell type dropdown, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell

#### Clear the output of all cells

- Use "Edit" -> "Clear Outputs of All Cells"

#### Clear Kernel and Run All Cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
- Use "Kernel" -> "Restart Kernel and Run All Cell" to effectively start over

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download" -> to download a notebook file representing your session

<hr>

## References

- https://jupyter-notebook.readthedocs.io/en/latest/notebook.html
- https://mybinder.readthedocs.io/en/latest/introduction.html
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [16]:
# Assigning values (dynamic typing)
x = 10
x = 'hello'
x = [1,2,3]

In [17]:
# Addition
x = 10
y = -3
x + y

7

In [18]:
# Subtraction
x = -3
y = 7.41
x - y

-10.41

In [19]:
# Multiplication
x = 7.41
y = -.6
x * y

-4.446

In [20]:
# Division
x = -.6
y = 7
x / y

-0.08571428571428572

In [21]:
# Exponent
x = 7
y = 3
x ** y

343

In [22]:
# Increment existing variable
x = 11.11
x += 4
x

15.11

In [23]:
# Decrement existing variable
x = 3
x -= 2
x

1

In [24]:
# Multiply & re-assign
x = 7.41
x *= 5
x

37.05

In [25]:
# Assign the value of an expression to a variable
x = 10
y = -3
z = 7.41
result = x + y * z
result

-12.23

In [26]:
# Are these two expressions equal to each other?
x = 10
y = -3
z = 7
x + y == z

True

In [27]:
# Are these two expressions not equal to each other?
x = 7.41
y = -.6
x != y

True

In [28]:
# Is the first expression less than the second expression?
x = 7
y = 3
x < y

False

In [13]:
# Is this expression True?
5 > 3 > 1

True

In [14]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [15]:
# Assign some strings to different variables
string1 = 'an example'
string2 = "oranges "

In [29]:
# Addition
string1 = 'an example'
string1 + ' of using the + operator'

'an example of using the + operator'

In [30]:
# Multiplication
string2 = "oranges "
string2 * 4

'oranges oranges oranges oranges '

In [31]:
# Are these two expressions equal to each other?
string1 = 'an example'
string2 = "oranges "
string1 == string2

False

In [32]:
# Are these two expressions equal to each other?
string1 = 'an example'
string1 == 'an example'

True

In [33]:
# Add and re-assign
string1 = 'an example'
string1 += ' that re-assigned the original string'
string1

'an example that re-assigned the original string'

In [34]:
# Multiply and re-assign
string2 = "oranges "
string2 *= 3
string2

'oranges oranges oranges '

### Subtraction, division, and decrement operators do not apply to strings!

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [26]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [27]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [28]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [29]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [30]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [31]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [32]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [33]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [34]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [35]:
# Access the first item in a sequence
list1[0]

3

In [36]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [37]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [38]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [39]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [40]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [41]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [42]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [43]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [44]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [45]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [46]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [47]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [48]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [49]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [50]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [51]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [52]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [53]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [54]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [55]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [56]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'cat', 'dog'}"